{% extends "layout.html" %}


{% block main %}
<h1>Hello, {{ person }}</h1>

<div class = "row">
    <h2>Enter Indoor Climbs</h2>
    <form action = "/homepage" method = "post">
        <input type = "date" placeholder = "date" name = "date">
        <input type = "text" placeholder = "grade" name = "grade">
        <select name = "type">
            <option value = "lead">Lead</option>
            <option value = "toprope">Toprope</option>
            <option value = "boulder">Boulder</option>
        </select>
        <select name = "send_type">
            <option value = "onsight">Onsight</option>
            <option value = "flash">Flash</option>
            <option value = "redpoint">Redpoint / Send</option>
        </select>
        <input type = "number" name = "num_routes">Number</input>
        <button class = "btn btn-primary" type = "submit">Submit</button>
    </form>
</div>


<h2>Your activity</h2>
<div class = "row">
    <table id = "results-table">
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Grade</th>
            <th>Climbing Style</th>
            <th>Type</th>
            <th>Number of Routes</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row['user_id'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['grade'] }}</td>
            <td>{{ row['type'] }}</td>
            <td>{{ row['send_type'] }}</td>
            <td>{{ row['num_routes'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
