{% extends "layout.html" %}

{% block main %}
<h1>Welcome</h1>
<h2>Enter your username to track your climbs</h2>

<h3>Returning User</h3>
<form action = "/" method = "post">
    <input type = "text" name = "username" placeholder="username">
    <button class = "btn btn-primary" type = "submit">Enter</button>
</form>

<h3>New User</h3>
<form action = "/register" method = "post">
    <input type = "text" name = "username" placeholder="username">
    <button class = "btn btn-primary" type = "submit">Enter</button>
</form>

{% endblock %}