{% extends "layout.html" %}

{% block main %}
<div class = "container-fluid h-100">
<div class = "row mx-3">
<h1>Outdoor Climbs</h1>
</div>

<div class = "card row mx-3 mb-3">
    <h2>Enter Outdoor Climbs</h2>
    <form class = "form-group" action = "/outdoor" method = "post">
        <div class = "row mb-2">
        <div class = "col-md-4"><input class = "form-control" type = "date" placeholder = "date" name = "date"></div>
        <div class = "col-md-4">
            <select class = "form-control" type = "text" placeholder = "grade" name = "grade" id = "grade-select"></select>
        </div>
        <div class = "col-md-4"><input class = "form-control" type = "text" placeholder = "location" name = "location"></div>
        </div>
        <div class = "row mb-2">
            <div class = "col"><input class = "form-control" type = "text" placeholder = "route name" name = "route_name"></div>
            <div class = "col"><input class = "form-control" type = "number" placeholder = "height" name = "height"></div>
            <div class = "col"><input class = "form-control" type = "number" name = "pitches" placeholder = "pitches"></input></div>
        </div>
        <div class = "row mb-2">
            <div class = "col-md-5">
                <select class = "form-control" name = "type" id = "type-select">
                    <option value = "lead">Lead</option>
                    <option value = "toprope">Toprope</option>
                    <option value = "boulder">Boulder</option>
                </select>
            </div>
            <div class = "col-md-5">
                <select class = "form-control" name = "send_type">
                    <option value = "onsight">Onsight</option>
                    <option value = "flash">Flash</option>
                    <option value = "redpoint">Redpoint / Send</option>
                </select>
            </div>
            <div class = "col-md-2"><button class = "btn btn-primary" type = "submit">Submit</button></div>
        </div>
    </form>
    <div class = "row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <strong class = "error">{{ message }}</strong>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class = "card row mx-3 mb-3">
    <div class = "row">
        <div class = "col-md-4">
            <p>Highest Multipitch</p>
            <h1 id = "multipitch" class = "display-3"></h1>
            <h2 id = "multiSub" class = "subhead"></h2>
            <h2 id = "pitches" class = "subhead"></h2>
        </div>
        <div class = "col-md-2">
            <p>Hardest Boulder</p>
            <h1 id = "hardBoulder" class = "display-3"></h1>
            <h2 class = "subhead" id = "boulderSub"></h2>
        </div>
        <div class = "col-md-5">
            <h3 class = "chart-header">Hardest Leads</h3>
            <canvas id = "outdoorChart"></canvas>
        </div>
    </div>
</div>

<div class = "card row mx-3 mb-5">
<h2>Your activity</h2>
<div class = "row">
    <table class = "table" id = "results-table">
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Route Name</th>
            <th>Location</th>
            <th>Grade</th>
            <th>Height</th>
            <th>Pitches</th>
            <th>Climbing Style</th>
            <th>Type</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row['user_id'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['name'] }}</td>
            <td>{{ row['location'] }}</td>
            <td>{{ row['grade'] }}</td>
            <td>{{ row['height'] }}</td>
            <td>{{ row['pitches'] }}</td>
            <td>{{ row['type'] }}</td>
            <td>{{ row['send_type'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>

<script src = "static/helpers.js"></script>
<script type = "text/javascript">
    changeSelect()
    const data = {{ data|tojson }}
</script>
<script type = "text/javascript" src = "static/outdoor.js"></script>

{% endblock %}